*{
    box-sizing: border-box;
}

body{
    margin: 0;

}

.container{
    max-width: 1920px; 
    height: 1080px;
}

    .container-navbar{
        background-color: rgba(248, 249, 255, 0.76);
        width: 360px;
        height: 100vh;
        z-index: 1;
        float: left;
        position: relative;
    }

    .container-navbar-logo{
        width: 360px;
        position: relative;
    }

    .logo{
        width: 150px;
        position: absolute;
        top: 75px;
        left: 50%;
        transform: translate(-50%);
    }

    .container-navbar-menu{
        margin: 0;
        padding: 0;
        list-style-type: none;
        position: absolute;
        transform: translate(-50%);
        left: 50%;
        top: 285px;
    }

    .list{
        text-align: center;
        margin-bottom: 25px;
        text-decoration: none;
    }

    a{
        color: rgba(70, 85, 114, 0.822);
    }

    a:active{
        background-color: rgba(246, 199, 67, 0.767);
    }

    a:visited{
        color: brown;
    }
    
    a:hover {
        color: rgba(12, 88, 160, 0.733);
    }

   .container-content{
       width: calc(100% - 360px);
       height: 100vh;
       float: right;
       position: relative;
   }

   .container-layout{
       font-size: 0;
       width: 963px;
       height: 570px;
       border:soild 1px black ;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
    }
    
    .layout-x, .layout-y, .layout-z {
        width: 315px;
        height: 100%;
        border-radius:40px 10px ;
        display: inline-block;
        margin-right:6px; 
        box-shadow: 1px 6px 10px  rgba(128, 128, 128, 0.5);
    }
    
    
    .layout-z{
        margin-right: 0;
    }

    /* .list a:hover{
        background: url("https://images.unsplash.com/reserve/Af0sF2OS5S5gatqrKzVP_Silhoutte.jpg?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGljfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
    } */

    /* .container-layout .layout-x:hover{
        background-image: url("https://images.unsplash.com/reserve/Af0sF2OS5S5gatqrKzVP_Silhoutte.jpg?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGljfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
    } */

    .layout-x {
        background-image: url(https://i.pinimg.com/564x/d0/7b/3b/d07b3ba503f2fceafb7fcb4b335d9e64.jpg);
        background-size: cover;
        background-position: center center;
    }
    .layout-y{
        background-image: url(https://i.pinimg.com/564x/8a/55/bf/8a55bf57f8b980b4a574a20d510a0334.jpg);
        
    }
    .layout-z{
        background-image: url(https://i.pinimg.com/564x/c0/ec/c9/c0ecc93ac178221b917eeab03e3baba3.jpg);
        
    }

    .layout-x:hover {
        background-image: url(https://images.pexels.com/photos/4241412/pexels-photo-4241412.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
        
    }



    
